.elementor-12 .elementor-element.elementor-element-7b237e9{padding:0px 0px 0px 0px;}.elementor-12 .elementor-element.elementor-element-6e90776 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-12 .elementor-element.elementor-element-f7f783b{text-align:left;}.elementor-12 .elementor-element.elementor-element-f7f783b .elementor-heading-title{color:#1D1D1D;font-family:"Montserrat", Sans-serif;font-size:40px;font-weight:bold;text-transform:capitalize;font-style:normal;}.elementor-12 .elementor-element.elementor-element-f7f783b > .elementor-widget-container{margin:33px 0px 15px 0px;padding:15px 0px 10px 0px;}.elementor-12 .elementor-element.elementor-element-64ec680 .elementor-text-editor{columns:1;column-gap:0px;text-align:left;}.elementor-12 .elementor-element.elementor-element-64ec680{color:#6F6F6F;font-family:"Georgia", Sans-serif;font-size:20px;font-weight:normal;font-style:normal;line-height:30px;}.elementor-12 .elementor-element.elementor-element-64ec680 > .elementor-widget-container{margin:22px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-12 .elementor-element.elementor-element-b5b4cf0 .elementor-button .elementor-align-icon-right{margin-left:17px;}.elementor-12 .elementor-element.elementor-element-b5b4cf0 .elementor-button .elementor-align-icon-left{margin-right:17px;}.elementor-12 .elementor-element.elementor-element-b5b4cf0 .elementor-button{font-family:"Georgia", Sans-serif;font-size:18px;font-weight:bold;text-shadow:0px 0px 10px rgba(0,0,0,0.3);fill:#FFFFFF;color:#FFFFFF;background-color:#1D1D1D;border-style:solid;border-width:1px 1px 1px 1px;border-color:#707070;border-radius:50px 50px 50px 50px;padding:20px 20px 20px 37px;}.elementor-12 .elementor-element.elementor-element-b5b4cf0 > .elementor-widget-container{margin:22px 0px 30px 0px;}.elementor-12 .elementor-element.elementor-element-2cb70a5 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-12 .elementor-element.elementor-element-6219c05 .elementor-text-editor{text-align:center;}.elementor-12 .elementor-element.elementor-element-6219c05{color:#1D1D1D;font-family:"Montserrat", Sans-serif;font-size:36px;font-weight:300;}.elementor-12 .elementor-element.elementor-element-6219c05 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-12 .elementor-element.elementor-element-c90573f > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-12 .elementor-element.elementor-element-cfb81fe .elementor-text-editor{text-align:center;}.elementor-12 .elementor-element.elementor-element-cfb81fe{color:#1D1D1D;font-family:"Montserrat", Sans-serif;font-size:36px;font-weight:300;}.elementor-12 .elementor-element.elementor-element-cfb81fe > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-12 .elementor-element.elementor-element-1cb6bd2 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-12 .elementor-element.elementor-element-b4a787f .elementor-text-editor{text-align:center;}.elementor-12 .elementor-element.elementor-element-b4a787f{color:#1D1D1D;font-family:"Montserrat", Sans-serif;font-size:36px;font-weight:300;}.elementor-12 .elementor-element.elementor-element-b4a787f > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-12 .elementor-element.elementor-element-55ba0b8 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-12 .elementor-element.elementor-element-1e2df43 .elementor-text-editor{text-align:center;}.elementor-12 .elementor-element.elementor-element-1e2df43{color:#1D1D1D;font-family:"Montserrat", Sans-serif;font-size:36px;font-weight:300;}.elementor-12 .elementor-element.elementor-element-1e2df43 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-12 .elementor-element.elementor-element-1df1e6e > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-12 .elementor-element.elementor-element-9988d7e .elementor-text-editor{text-align:center;}.elementor-12 .elementor-element.elementor-element-9988d7e{color:#1D1D1D;font-family:"Montserrat", Sans-serif;font-size:36px;font-weight:300;}.elementor-12 .elementor-element.elementor-element-9988d7e > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-12 .elementor-element.elementor-element-4989196 .elementor-image img{width:100%;max-width:1920%;height:756px;object-fit:cover;}@media(min-width:768px){.elementor-12 .elementor-element.elementor-element-6e90776{width:100%;}}/* Start custom CSS for html, class: .elementor-element-2cb70a5 */.year-dot {
    display: flex;
    justify-content: center;
}
.year-dot span {
    width: 54.4px;
    height: 54.4px;
    background-color: #ededed;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
    border-style: solid;
    border-color: #1d1d1d;
    border-width: 1px;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-c90573f */.year-dot {
    display: flex;
    justify-content: center;
}
.year-dot span {
    width: 54.4px;
    height: 54.4px;
    background-color: #ededed;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
    border-style: solid;
    border-color: #1d1d1d;
    border-width: 1px;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-1cb6bd2 */.year-dot {
    display: flex;
    justify-content: center;
}
.year-dot span {
    width: 54.4px;
    height: 54.4px;
    background-color: #ededed;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
    border-style: solid;
    border-color: #1d1d1d;
    border-width: 1px;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-55ba0b8 */.year-dot {
    display: flex;
    justify-content: center;
}
.year-dot span {
    width: 54.4px;
    height: 54.4px;
    background-color: #ededed;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
    border-style: solid;
    border-color: #1d1d1d;
    border-width: 1px;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-1df1e6e */.year-dot {
    display: flex;
    justify-content: center;
}
.year-dot span {
    width: 54.4px;
    height: 54.4px;
    background-color: #ededed;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
    border-style: solid;
    border-color: #1d1d1d;
    border-width: 1px;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-8714f09 */#year-line {
    position: absolute;
    top: 50%;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-1622ff3 */#line-div {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-4989196 */#cover-map {
    align-self: flex-end;
    justify-self: center;
}/* End custom CSS */